@import 'tailwindcss';
@plugin "daisyui" {
  root: ':root';
  themes: portfolio, portfolio-dark;
}

@plugin "daisyui/theme" {
  name: 'portfolio';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0.228 78.3);
  --color-base-200: oklch(100% 0.153 98.2);
  --color-base-300: oklch(95.8% 0.277 348.4);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(78% 0.294 348.4);
  --color-primary-content: oklch(30% 0.056 229.695);
  --color-secondary: oklch(93.8% 0.254 149.8);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(76% 0.213 231.6);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(27% 0.072 132.109);
  --color-neutral-content: oklch(98% 0.031 120.757);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: 'portfolio-dark';
  default: false;
  prefersdark: false;
  color-scheme: 'dark';
  --color-base-100: oklch(29% 0.136 325.661);
  --color-base-200: oklch(40% 0.17 325.612);
  --color-base-300: oklch(45% 0.211 324.591);
  --color-base-content: oklch(95% 0.037 318.852);
  --color-primary: oklch(76% 0.188 70.08);
  --color-primary-content: oklch(98% 0.022 95.277);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(98% 0.026 102.212);
  --color-accent: oklch(69% 0.17 162.48);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(40% 0.17 325.612);
  --color-neutral-content: oklch(97% 0.017 320.058);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 0rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
